* { box-sizing: border-box; }

body {
    font-family: 'Poppins', sans-serif;
    color: var(--blue-dark-1);
    text-align: center;
    margin: 0;
    padding: 20px;
  }

:root {
    --white-1: #f0f0f0;
    --white-2: #dcdcdc;
    --blue-light: #67bde8;
    --blue-medium-2: #488bbf;
    --blue-medium-3: #077fc7;
    --blue-dark-1: #0b174d;
    --grey-dark-1: #2c3e50 ;
    --purple-light: #8e44ad;
    --purple-medium: #732d91;
    --purple-dark: #6c3483;
    --red-light:#e74c3c;
    --red-medium: #c0392b;
  }

h1{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--blue-dark-1);
}

h2{
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--blue-medium-3);
}

.container-header {
    border-radius: 20px;
    padding: 20px;
}

#reloadButton {
    background-color: var(--purple-light);
    color: var(--white-2);
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background 0.3s ease;
    display: inline-flex;
    justify-content: center;
}

#reloadButton:hover {
    background-color: var(--purple-dark);
}

.cat-section {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 900px;
    margin: 20px auto;
}

.cat-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    position: relative;
}

.cat-card:hover{
    transform: translateY(-10px);
}

.cat-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cat-card__btn {
    position: absolute;
    bottom: 10px;
    left: 80%;
    transform: translateY(-470%);
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.cat-card__btn:hover {
background-color: var(--white-1);    
box-shadow: 0px 4px 8px var(--blue-light);
}

.upload-container {
    border: 3px dashed var(--purple-light);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    transition: 0.3s;
}

.upload-container:hover {
    border-color: var(--purple-dark);
}
.selectFileBtn{
    border:  none;
}

.drop-area {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-1);
    transition: 0.3s;
}

.drop-area.dragover {
    background-color: var(--white-2);
    border: 2px solid var(--purple-dark);
}

.file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.file-label figure {
    width: 80px;
    height: 80px;
    background-color: var(--purple-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.file-label figure:hover {
    background-color: var(--purple-medium);
}

.file-label svg {
    fill: #fff;
}

.btn-upload, .btn-delete {
    background-color: var(--purple-light);
    min-width: 120px;
        text-align: center;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--white-1);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    display: none;
}

.btn-delete{
    background-color: var(--red-light);
}

.btn-upload:hover {
    background-color: var(--purple-light);
}
.btn-delete:hover {
    background-color: var(--red-medium);
}

.imgMiniatura {
    width: 250px;
    height: 160px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.success-message {
    display: block;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}