body{
    background-color: #010221;
    color: rgb(6, 203, 247);
    font-family:monospace;  
}

h1{
    text-align: center;
}

div h2{
    margin-left: 20px;
}

.container {

    border: 8px solid #4b3570;
    border-radius: 20px;
    gap:10px;
    padding: 10px;
}

#reloadButton{
    width: 50px;
    height: 50px;
    background-color: #9076bd;
    padding: 0;
    margin: 5px 15px;
}

.container img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 15px;
}

.container button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: transparent ;
}

#favorite-michis{
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 150px);
    border: 8px solid #6f2f6f;
    place-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

#favorite-michis img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
}

#favorite-michis button{
    border-radius: 5px;
    width: 120px;
    height: 30px;
    font-size: 18px;
    background-color: #873b87;
    color: antiquewhite;
}

h2{
    text-align: center;
    padding: 0;
}

.uploading{
    border: #9076bd dashed 5px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    height: 250px;
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 90px);
    place-items: center;
}

.uploading button{
    background-color: #9076bd;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-family:monospace;  
    font-size: 18px;
    margin-top: 10px;
}

.container-article{
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 150px);
    place-items: center;
}

.inputfile{
    color: #d4c1f5;
    font-size: 18px;
}

.inputfile-5 + label {
    color: #9076bd;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #765ca3;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #9076bd;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #765ca3;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.imgMiniatura{
    width: 150px; 
    height: 150px;
    border: 5px white;
    place-self: end;
    margin: 5px;
}

/* Degradado en el fondo */
/* Tipografia */
/* Mejorar diseño de Cards */
/* Hover en imagenes 
Mejorar la Grilla en la primera parte*/